{% extends '::base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
{% endblock %}


{% block body %}
<div class="container">
    <div class="page-header">
        <h1>МАТЧ! Клуб <small>Тестовое задание</small></h1>
    </div>

    <div class="row">
        <div class="col-sm-7">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">API</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            GET <a href="/api/votes" target="_blank">/api/votes</a>
                        </h4>
                        <p>Список доступных голосований с общей информацией по ним.</p>
                        <p>Если пользователь аутентифицирован, к общей информации добавится информация специфичная для данного пользователя: его голоса, их общее количество и количество за каждую команду.</p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            GET <a href="/api/votes/1" target="_blank">/api/votes/&lt;vote_id&gt;</a>
                        </h4>
                        <p><ul>
                            <li><b>vote_id</b>: идентефикатор голосования</li>
                        </ul></p>
                        <p>Информация по заданному голосованию.</p>
                        <p>Если пользователь аутентифицирован, к общей информации добавится информация специфичная для данного пользователя: его голоса, их общее количество и количество за каждую команду.</p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            POST <a>/api/votes/&lt;vote_id&gt;/userVotes</a>
                        </h4>
                        <pre>{
    "voted": &lt;voted_object_id&gt;
}</pre>
                        <p><ul>
                            <li><b>vote_id</b>: идентефикатор голосования</li>
                            <li><b>voted_object_id</b>: идентефикатор объекта, за который отдаём голос. В зависимости от типа голосования, может быть идентефикатором <i>команды</i> или <i>игрока</i>.</li>
                        </ul></p>
                        <p>Информация по заданному голосованию.</p>
                        <p>Доступно только аутентифицированным пользователям.</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Аутентификация
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Аутентификация выполняется с помощью <a href="https://en.wikipedia.org/wiki/Basic_access_authentication">HTTP Basic authentication</a>.</p>
                    <p>Доступные пользователи:<ul>
                        <li>maksim.kis</li>
                        <li>marat.salimgareev</li>
                        <li>denis.pelikh</li>
                    </ul></p>
                    <p>Пароль по-умолчанию: <b>matchclub</b></p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Админ-панель <small>(<a href="/admin" target="_blank">открыть</a>)</small>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Для удобного просмотра данных и результатов выполнения методов API в проект добавлен модуль <a href="https://github.com/javiereguiluz/EasyAdminBundle" target="_blank">EasyAdmin</a>.</p>
                    <p>Точная настройка и отладка данного модуля выходит за рамки тестового задания. Поэтому некоторый функционал админ-панели может работать с ошибками.</p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Контакты</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="mailto:denis.pelih@gmail.com">Денис Пелих</a></li>
                        <li><a href="https://bitbucket.org/denispelih/matchtv-tz" target="_blank">Исходный код</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
